.gnb {
  position: relative;
  border: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .gnb-btn-group {
      @include flexbox(end);
    }

    .gnb-icon-btn.is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }
}

@include responsive(T) {
  .gnb {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .gnb-icon-btn {
        margin-right: 8px;
      }

      .gnb-avatar-btn {
        margin-right: 24px;
      }

      .btn-primary {
        width: 88px;

        i {
          margin-left: 4px;
        }
      }
    }

    &-auth {
      margin-right: 24px;
      margin-left: 8px;

      a {
        @include text-style(14, $secondary);
        font-weight: 700;

        &:first-child {
          margin-right: 12px;
        }

        &:hover {
          color: $blue;
        }
      }
    }

    .logo {
      $padding: 16px;
      position: static;
      margin-right: 32px - $padding;
      transform: none;

      a {
        display: block;
        padding: $padding;
      }

      img {
        height: 24px;
      }
    }
  }
}

@include responsive(D) {
  .gnb {
    &-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}
